.combobox {
  display: inline-block;
  position: relative;
  .combobox-input {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .combobox-results {
    top: 26px;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    font-size: 14px;
    border-left: 1px solid $lp-dark-grey;
    border-right: 1px solid $lp-dark-grey;
    border-bottom: 1px solid $lp-dark-grey;
    z-index: 5;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    ul {
      padding: 0;
      li {
        cursor: default;
        padding: 3px;
        list-style: none;
        border-top: 1px solid $lp-dark-grey;
        &:hover {
          background-color: $lp-light-grey;
        }
      }
    }
  }
}