.combobox {
  display: inline-block;
  position: relative;

  .select-arrow {
    position: absolute;
    right: 1px;
    bottom: 1px;
    color: $orange-dark;
    pointer-events:none;

    // show white box behind selector arrow to hide default select arrows on IE9
    background-color: #fff;
    height: $grid-input-height - 2px;
    width: 30px;
    line-height: $grid-input-height - 2px;
    vertical-align: middle;
  }

  .combobox-input {
    width: 100%;
    input {
      width: 100%;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
    }
  }

  .autocomplete-selection-wrapper {
    border: 0 !important;
  }

  .autocomplete-dropdown {
    ul.autocomplete-result {
      top: 0 !important;
    }
  }
}