.confirm-dialog-background {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100,100,100,0.5);
  z-index: 3;

  .confirm-dialog {
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    background-color: #ffffff;
    border: 2px solid $gray85;

    .confirm-dialog-header, .confirm-dialog-content {
      padding: 15px;
    }

    .confirm-dialog-header {
      background-color: $gray246;
    }
    .confirm-dialog-content {

      .message {
        margin-bottom: 20px;
      }

      .explanation {
        margin-bottom: 20px;
      }

      .buttons {
        width: 50%;
        margin: auto;
        padding-top: 20px;

        :first-child {
          float: left;
        }

        button {
          float: right;
        }
      }
      .loading {
        margin: auto;
      }
    }
  }
}