.search {
  margin-bottom: 20px;

  input[type="text"], input:not([type]) {
    font-size: $font-size-body;
    border: 1px solid $input-border-color;
    min-height: 40px;
    box-sizing: border-box;
    &.active {
      border-color: $orange;
    }
    &:focus {
      color: $input-focus-color;
      border-color: $input-focus-border-color;
    }
    padding: 0 6px;
  }

  .search-text {
    form {
      display: inline-block;
      width: 44%;
    }
    input {
      width: 100%;
    }
    .search-button {
      width: 16.4%;
    }
    button {
      float: right;
      margin-left: 4px;
    }
    .help {
      color: #f7ac2e;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .search-options {
    @include clearfix;

    margin: 10px 0;

    .search-fields, .search-filter {
      @include clearfix;
      float: left;
      width: 50%;

      .half {
        float: left;
        width: 50%;
      }

      [type="checkbox"] {
        margin: 0 6px 0 0;
      }

      .checkboxes {
        @include clearfix;
      }

      .organization-select {
        @include clearfix;
        margin: 1em 0;
        padding: 0;
        border: 0;
        width: 100%;
        color: $grey-text;
        .select {
          position: relative;
          width: 50%;
          margin-top: 5px;
          select {
            width: 100%;
          }
        }
      }

      .filter-option {
        display: inline-block;
        width: 50%;
        &:nth-child(even) {
          padding-left: 5px;
        }
        &:nth-child(odd) {
          padding-right: 5px;
        }
        select, .combobox {
          width: 100%;
        }
        label {
          display: block;
        }
        input {
          box-sizing: border-box;
          display: inline-block;
          line-height: 1.8em;
        }
      }
      .timespan {
        input {
          width: 48%;
          outline: 0;
          &:focus {
            color: $input-focus-color;
            border-color: $input-focus-border-color;
          }
        }
        .end-date {
          float: right;
        }
        .date-separator {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          width: 4%;
        }
      }
      .targets {
        margin-top: 1em;
      }
    }
  }
}